<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629493331668-p984lpe8taom02u2vpuh1kjkp7170bsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629493331668-p984lpe8taom02u2vpuh1kjkp7170bsm</string>
	<key>API_KEY</key>
	<string>AIzaSyDYhud-MdciiFpIDkmIaNvWgWsAJhCejLs</string>
	<key>GCM_SENDER_ID</key>
	<string>629493331668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pedro.alvarez.Lumiere</string>
	<key>PROJECT_ID</key>
	<string>lumiere-b1a80</string>
	<key>STORAGE_BUCKET</key>
	<string>lumiere-b1a80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629493331668:ios:a57bcdca9043eb88f4ad41</string>
	<key>DATABASE_URL</key>
	<string>https://lumiere-b1a80.firebaseio.com</string>
</dict>
</plist>